# Dependencies
node_modules/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage/

# Production builds
build/

# Environment
.env*.local
.env*.dev
.env*.prod

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Expo
.expo/
.expo-shared/

# Metro
.metro-bundler-cache*
*.lock

# Prettier temporary files
.prehtml